[submodule "3rdparty/godot-hesai"]
	path = 3rdparty/godot-hesai
	url = git@github.com:sat-mtl/godot-hesai.git
[submodule "3rdparty/godot-orbbec"]
	path = 3rdparty/godot-orbbec
	url = git@github.com:sat-mtl/godot-orbbec.git
